/* ---------------- MEMBER BIOS ---------------- */
.member {
    width: 160px;
    text-align: center;
    background: none;
    border: none;
}

.member:hover {
    color: #f26d0f;
}

.member h5 {
    font-weight: 700;
    font-family: 'Urbanist', sans-serif;
}

.member p {
    font-family: 'Satoshi', sans-serif;
}


.member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px auto;
}



.member h2, .member p {
    margin: 5px 0;
}

.modal-dialog {
    height: 88vh;
}

.modal-content {
    margin-top: 20%;
    background: linear-gradient(180deg, #404647, #0c0f10 100%);
    border: none;
}

.btn-close {
    background-color: #ffffff;
    border-radius: 50%;
}

.bio-name {
    text-align: center;
    padding-bottom: 10px;
    font-size: 36px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
}

.bio-position {
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Instrument Sans', sans-serif;
}

.bio-image {
    max-width: 200px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 50%;
}

.bio-text {
    font-family: 'Satoshi', sans-serif;
}



.subtask-container {
    font-family: 'Satoshi', sans-serif;
    text-align: center;
    margin-bottom: 100px;
}

.subtask-icon {
    padding: 8px;
    border-radius: 18px;
    width: 80px;
    height: 80px;
    margin: auto;
    margin-bottom: 16px;
}

.subtask-icon > i {
    font-size: 48px;
    position: relative;
    top: -4px;
}

.subtask-name {
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.subtask {
    color: gray;
    transition: transform 0.5s ease-in-out;
}

.marketing-icon {
    background-color: #441814;
}

.marketing-icon > i {
    color: #ae2012;
}

.design-icon {
    background-color: #20092f;
}

.design-icon > i {
    color: #7209b7;
}

.technology-icon {
    background-color: #0f1e34;
}

.technology-icon > i {
    color: #3959ff;
}

.bi-cursor {
    font-size: 40px !important;
    width: 100%;
    text-align: center !important;
    position: relative !important;
    top: 1px !important;
}

.research-icon {
    background-color: #2b392f;
}

.research-icon > i {
    color: #51aa6a;
}



#signatures {
    text-align: right;
}


@media (min-width: 768px) {
    #team-pentagon {
        padding-top: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pentagon {
        position: relative;
        width: 600px;
        height: 600px;
        margin-top: -70px;
    }

    .member {
        position: absolute;
        transform: translateY(-50%) translateX(-50%);
        transition: transform 0.5s ease-in-out, color 0.5s ; 
    }

    .member:hover {
        transform: translateY(-50%) translateX(-50%) scale(1.2);
    }

    #member1 { top: 0; left: 50%; }
    #member2 { top: 25%; left: 84%; }
    #member3 { top: 65%; left: 70%; }
    #member4 { top: 65%; left: 30%; }
    #member5 { top: 25%; left: 16%; }

    .modal-content {
        padding: 20px;
    }
}

@media (max-width: 767px) {
    #team-pentagon, .pentagon {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #team-pentagon {
        margin-bottom: 200px;
    }

    .member {
        width: 50%;
        margin-bottom: 20px;
    }

    .bottom {
        width: 100%;
    }

    .modal-content {
        padding: 10px;
    }

    .bio-text {
        margin: 0;
    }

    .subtask {
        margin-bottom: 100px;
    }
}
